.ActiveList {
    display: flex;
    align-items: center;
    color: white;
    background-color: #333;

    span {
        font-size: small;
        font-variant: small-caps;
        font-weight: bold;
        padding: 9px 16px;
    }

    h4 {
        margin: 0 16px;
        flex: 1;
    }

    button {
        color: white;
        background-color: rgba(white, .5);
        border: none;
        width: 40px;
        height: 100%;
        font-variant: small-caps;
        font-weight: bold;
    }
}