.SpellLists {
    width: 100%;
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color: white;

    .SpellLists-header {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            flex: 1;
            margin: 0;
            color: white;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: rgba(white, .3);
            border: none;
            font-size: xx-large;
            height: 40px;
            width: 40px;
        }
    }

    .SpellLists-lists {
        flex: 1;
        color: white;

        .SpellLists-list {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            font-size: medium;
            font-weight: bold;

            span { 
                flex: 1;
                padding: 8px;


                &:hover {
                    background-color: rgba(white, .3);
                }
            }
        }
    }

    .SpellLists-newList {
        display: flex;
        flex-direction: row;

        input {
            box-sizing: border-box;
            flex: 1;
            border: none;
            outline: none;
            background-color: rgba(white, .2);
            color: white;
            padding: 8px;
            font-size: medium;
            font-weight: bold;
        }

        button {
            font-size: x-large;
            width: 40px;
        }
    }

    .SpellLists-footer {
        display: flex;
        flex-direction: row;

        button {
            flex: 1;
            height: 40px;
            font-size: large;
            font-weight: bold;
        }
    }
}