.SpellList {
    width: 100%;
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;

    input {
        box-sizing: border-box;
        width: 100%;
        border: none;
        outline: none;
        background-color: rgba(white, .3);
        color: white;
        padding: 8px;
        font-size: medium;
        font-weight: bold;
    }

    .SpellList-filters {

        .buttonGroup {
            display: grid;
            grid-gap: 4px;
            margin: 8px 0;

            button {
                cursor: pointer;
                border: none;
                outline: none;
                font-weight: bold;
                color: black;
                background-color: rgba(black, .3);
                padding: 4px;

                &.active {
                    background-color: rgba(black, .5);
                }

                &.negative {
                    background-color: rgba(black, .1);
                }
            }
            
            &.col2 {
                grid-template-columns: repeat(2, 1fr);
            }
            &.col3 {
                grid-template-columns: repeat(3, 1fr);
            }
            &.col4 {
                grid-template-columns: repeat(4, 1fr);
            }
            &.col5 {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }

    .SpellList-spells {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        color: black;

        &::-webkit-scrollbar {
            display: none;
        }

        .SpellList-row {
            display: flex;
            flex-direction: row;

            .SpellList-checked {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: x-large;
                color: rgba(black, .5);
            }

            .SpellList-spell {
                flex: 1;
                padding: 8px;
                cursor: pointer;
                font-size: medium;
                font-weight: bold;
                user-select: none;
                overflow: hidden;
                white-space: nowrap;
    
                &:hover {
                    background-color: rgba(black, .3);
                }

                .level {
                    font-size: small;
                    border-radius: 20px;
                    background-color: rgba(black, .5);
                    color: white;
                    padding: 4px 8px;
                    margin-right: 4px;
                }
            }

            &:hover {
                button.add {
                    transform: scaleX(1);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .SpellList {
        .SpellList-spells {
            .SpellList-row {
                button.add {
                    transform: scaleX(1);
                }
            }
        }
    }
}